@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
}

/*Navigation of the Header*/

header nav {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: rgb(255, 254, 254);
}

/*Size and dimensions of the header*/

.header-page {
    width: 100%;
    height: 70px;
    background-color: rgb(250, 246, 246);
    position: absolute;
    border-bottom: 3px solid #0e0d0d;
}

/*ISJAI Logo size*/

.header-page img {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
}

/*Title heading size and text alignment*/

.header-page h3 {
    padding-top: 10px;
    font-size: 23px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
}

/*Title paragraph size and text alignment*/

.header-page p {
    font-size: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    padding-top: 2px;
}

/*Navigation Icons Positioning, Color, and Sizes*/

nav .icon ul {
    position: absolute;
    font-size: 20px;
    right: 10px;
    
}

.icon ul li {
    position: relative;
    display: inline-block;
    margin-top: 23px;
    padding: 2px;
}

.icon ul li a {
    color:  #060606;
}

/*Sectioning (images, and positioning)*/

section .strands {
    position: relative;
    height: 77vh;
    background-image: url(/images/book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*Specialization tracks cards positioning and color*/

.strand-cards {
    position: relative;
    top: 60px;
}

/*Specialization tracks icons positioning and color*/

.strand-cards ul {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #d7263d;
    border-top: 5px solid #060606;
    border-bottom: 5px solid #060606;
}

/*Specialization tracks text positioning and color*/

.strand-cards ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    margin: 300px 0px 200px 230px;
    padding-left: 20px;
    color: #fffcfd;
    font-size: 20px;
    transform: translate(-50%, -50%)
}

.strand-cards ul li label {
    padding-top: 20px;
    color: rgb(217, 207, 207)
}

.strand-cards ul li h6 {
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
}

/*Specialization tracks anchor positioning and color*/

.strand-cards ul a {
    margin-top: 20px;
    margin-left: 120px;
    position: absolute;
    font-size: 240px;
    color: white;
    transition: 0.6s;
}

/*Specialization tracks hover positioning and color*/

.strand-cards a:hover {
    color: #060606;
}


/*Footer positioning and size*/

footer {
    width: 100%;
    height: 100px;
    border-top: 3px solid #61111c;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Footer text positioning and size*/

/*Social media icons positioning, size, and color*/

.social-media {
    width: 100%;
    height: 30px;
    position: absolute;
}

.social-media ul {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}

.social-media ul li {
    position: relative;
    display: inline-block;
    padding: 2px;
}

.social-media i {
    color: #d7263d;
}

.quote h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.quote p {
    font-size: 12px;
    margin-top: 3px;
}
