@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Inter:wght@500&display=swap');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*Navigation of the Header*/

header nav {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: rgb(255, 254, 254);
}

/*Size and dimensions of the header*/

.header-page {
    width: 100%;
    height: 70px;
    background-color: rgb(250, 246, 246);
    position: absolute;
    border-bottom: 3px solid #61111c;
}

/*ISJAI Logo size*/

.header-page img {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
}

/*Title heading size and text alignment*/

.header-page h3 {
    padding-top: 10px;
    font-size: 23px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
}

/*Title paragraph size and text alignment*/

.header-page p {
    font-size: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    padding-top: 2px;
}

/*Navigation Icons Positioning, Color, and Sizes*/

nav .icon ul {
    position: absolute;
    font-size: 20px;
    right: 10px;
    
}

.icon ul li {
    position: relative;
    display: inline-block;
    margin-top: 23px;
    padding: 2px;
}

.icon ul li a {
    color:  #060606;
}

main {
    width: 100%;
    height: 700px;
    overflow: scroll;
}

main .stem-research {
    width: 100%;
    height: 900px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .stem-research h1 {
    font-size: 30px;
    margin-top: 20px;
}

main .stem-research p {
    margin-bottom: 5px;
}

.stem-research .stem li {
    position: relative;
    display: inline-block;
    margin: 30px 30px 0px;
    height: 350px;
    width: 300px;
    background-color: #d7263d;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.5s;
}

.stem-research .stem li:hover {
    background-color: #070707;
}

.stem-research .stem li a {
    position: relative;
    text-align: center;
    font-size: 15px;
    color: white;
    top: 260px;
}