@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/library.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


body .slide-container {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.navbar {
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: #ffff;
    padding-right: 100px;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    padding-left: 50px;
}

.imglogo {
    margin-left: 50px;
    max-width: 50%;
    max-height: 50%;
}

.menu {
    width: 200px;
    float: left;
    height: 70px;
}

.menu li {
    font-family: 'Gabarito', sans-serif;
}

ul {
    display: flex;
    justify-content: center;
    float: left;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: -20px;
    margin-top: 24px;
    font-weight: bold;
    font-family: 'Gabarito', sans-serif;
}

ul li a {
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    font-family: 'Gabarito', sans-serif;
}

ul li a:hover {
    color: red;
}

.search {
    width: 300px;
    float: right;
    margin-left: 100px;
    margin-top: 15px;
    background: peachpuff;
    border-radius: 25px;
}

.srch {
    width: 85%;
    height: 100%;
    background-color: peachpuff;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 15px;
}

.btn {
    width: 50px;
    height: 50px;
}

.header h1 {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Gabarito', sans-serif;
}

.header p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Gabarito', sans-serif;
}

.slide-container {
    position: absolute;
    max-width: 390px;
    width: 100%;
}

.card {
    border-radius: 20px;
    height: 400px;
    width: 270px;
    background-color: peachpuff;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
}

.card-content h2 {
    font-size: 15px;
    font-family: 'Gabarito', sans-serif;
}
.card-content p {
    padding-top: 15px;
    color: black;
    text-align: center;
    font-family: 'Gabarito', sans-serif;
}

.card-content p {
    color: black;
    text-align: center;
    font-family: 'Gabarito', sans-serif;
}


.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image .card-img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
}

.btn2 {
    border: none;
    font-size: 20px;
    color: black;
    padding: 8px 16px;
    background-color: White;
    border-radius: 6px;
    margin: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn2 .design {
    text-decoration: none;
    color: black;
}

.btn2:hover {
    background: rgb(173, 173, 173);
}

.align  {
    display: flex;
    padding-top: 250px;
    padding-left: -20px;
    
}


