@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    overflow: scroll;
}

header {
    display: flex;
    position: relative;
    padding: 0 0 20px 30px;
    height: 18%;
    left: 250px;
    width: 100%;
    background-color: #ffffff;
}

section {
    display: table;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 85%;;
    max-width: 100%;
    width: 100%;
    left: 250px;
    background-color: #ffffff;
    border-top: 5px solid #d7263d;
}

aside {
    display: flex;
    position: fixed;
    max-width: 250px;
    height: 100%;
    background-color: #d7263d;
}

.home-sidebar {
    width: 250px;
    border-bottom: 5px solid rgb(255, 255, 255);
}

.home-sidebar img {
    position: relative;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

.home-sidebar span {
    position: relative;
    bottom: 40px;
    left: 10px;
}

.home-sidebar:hover {
    background-color: rgb(34, 10, 10);;
}

.logo-name {
    font-size: 30px;
    height: 100px;
    max-width: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.sidebar {
    height: 100%;
    max-width: 250px;
    margin: 25px 0 0;
}

.sidebar li {
    display: flex;
    list-style: none;
    text-decoration: none;
    height: 60px;
}

.sidebar .sidebar-items li a{
    display: flex;
    align-items: center;
    width: 250px;
    transition: all 0.4s ease;
}

.sidebar .sidebar-items li i{
    min-width: 60px;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.sidebar-items span {
    color: white;
}

.sidebar-items .record-li, .docs-li, .add-li, .log-out-li, .user-li {
    font-size: 15px;
}


.sidebar-items .user {
    position: absolute;
    height: 50px;
    bottom: 80px; 
}

.sidebar-items .log-out {
    position: absolute;
    height: 50px;
    bottom: 30px;
}

.sidebar .sidebar-items li a:hover{
    background-color: rgb(34, 10, 10);
}

.home-icon i {
    display: flex;
    position: absolute;
    width: 5%;
    top: 40%;
    font-size: 30px;
}

.home-icon h1 {
    position: relative;
    top: 45%;
    left: 20%;
}

.search-box {
    position: relative;
    top: 50%;
    width: 50%;
    left: 20%;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.search-box i {
    position: relative;
    top: 33%;
    left: 20%;
    color: black;
}

section h1 {
    display: flex;
    position: relative;
    align-items: center;
    left: 40px;
    top: 25px;
}

section .data {
    width: 80%;
    height: 100px;
    margin: 60px 0px 40px 40px;
    border-left: 3px solid #d7263d;
    border-top: 3px solid #d7263d;
}

section .data th {
    width: 10%;
    border-bottom: 8px solid #d7263d;
    border-right: 3px solid #d7263d;
    overflow: hidden;
}

section .data td {
    width: 10%;
    border-bottom: 3px solid #d7263d;
    border-right: 3px solid #d7263d;
    overflow: hidden;
}