@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    overflow: scroll;
}

/*Navigation of the Header*/

header nav {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgb(255, 254, 254);
}

/*Navigation Icons Positioning, Color, and Sizes*/

nav {
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
    border-bottom: 6px solid #060606;
}

nav .header-title h1 {
    font-size: 23px;
}

nav .header-title p {
    position: absolute;
    font-size: 14px;
    bottom: 20px;
}

nav .logo {
    width: 70px;
    height: 70px;
    transition: 1.4s;
}

nav .user {
    width: 40px;
    font-size: 40px;
    cursor: pointer;
    transition: 1.4s;
}

nav .user a {
    color: black;
    transform: scale(1.2);
}

nav .home:hover {
    color: black;
    transform: scale(1.2);
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    z-index: 100;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(110, 108, 108);
    margin: 15px 0 10px;
}


.log-out {
    display: flex;
    align-items: center;
    color: #060606;
    margin: 12px 0;
}

.log-out p {
    width: 100%;
    padding-right: 40%;
}

.log-out i {
    width: 30px;
    background:#d7263d;
    color: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
}

.log-out p:hover {
    font-weight: 600;
}

/*Sectioning (images, and positioning)*/

section .strands {
    position: relative;
    height: 670px;
    background-image: url("../images/book.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/*Specialization tracks cards positioning and color*/

.strand-cards {
    top: 100px;
    position: relative;
    margin: 0;

}

/*Specialization tracks icons positioning and color*/

.strand-cards ul {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 450px;
    background-color: #d7263d;
    border-top: 5px solid #060606;
    border-bottom: 5px solid #060606;
}

/*Specialization tracks text positioning and color*/

.strand-cards ul li {
    margin: auto;
    text-align: center;
    color: white;
}

.strand-cards ul li h6 {
    font-size: 30px; 
    padding-bottom: 10px;   
}

.strand-cards ul li a {
    position: relative;
    font-size: 200px;
}

.strand-cards ul li i {
    position: relative;
    font-size: 250px;
    color: white;
}

.strand-cards ul li label {
    font-size: 20px;
    font-weight: 500;;
}


/*Specialization tracks hover positioning and color*/

.strand-cards i:hover {
    color: #060606;
}


/*Footer positioning and size*/

footer {
    width: 100%;
    height: 100px;
    border-top: 3px solid #61111c;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Footer text positioning and size*/

/*Social media icons positioning, size, and color*/

.social-media {
    width: 100%;
    height: 30px;
    position: absolute;
}

.social-media ul {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}

.social-media ul li {
    position: relative;
    display: inline-block;
    padding: 2px;
}

.social-media i {
    color: #d7263d;
}

.social-media i:hover {
    color: black;
}

.quote h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.quote p {
    font-size: 12px;
    margin-top: 3px;
}

@media only screen and (max-width: 1280px){

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    overflow: scroll;
}

/*Navigation of the Header*/

header nav {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgb(255, 254, 254);
}

/*Size and dimensions of the header*/

.header-page {
    width: 100%;
    height: 100px;
    background-color: rgb(250, 246, 246);
    position: absolute;
    border-bottom: 3px solid #0e0d0d;
}

/*ISJAI Logo size*/

.header-page img {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    margin: 15px;
}

/*Title heading size and text alignment*/

.header-page h3 {
    padding-top: 20px;
    font-size: 23px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
}

/*Title paragraph size and text alignment*/

.header-page p {
    font-size: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    padding-top: 2px;
}

/*Navigation Icons Positioning, Color, and Sizes*/

nav .icon ul {
    position: absolute;
    font-size: 30px;
    right: 20px;
    
}

.icon ul li {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    padding: 2px;
}

.icon ul li a {
    color:  #060606;
}

/*Sectioning (images, and positioning)*/

section .strands {
    position: relative;
    height: 660px;
    background-image: url(/images/book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*Specialization tracks cards positioning and color*/

.strand-cards {
    position: relative;
    top: 100px;
    height: 600px;
}

/*Specialization tracks icons positioning and color*/

.strand-cards ul {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 400px;
    background-color: #d7263d;
    border-top: 5px solid #060606;
    border-bottom: 5px solid #060606;
}

.strand-cards ul li {
    margin: auto;
    font-size: 25px;
    text-align: center;
    color: white;
}

.strand-cards ul li h6 {
    font-size: 25px; 
    padding-bottom: 10px;   
}

.strand-cards ul li a {
    position: relative;
}

.strand-cards ul li i {
    position: relative;
    font-size: 200px;
    color: white;
}

.strand-cards ul li label {
    font-size: 15px;
    font-weight: 500;;
}

/*Specialization tracks hover positioning and color*/

.strand-cards i:hover {
    color: #060606;
}

/*Footer positioning and size*/

footer {
    width: 100%;
    height: 100px;
    border-top: 3px solid #61111c;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Social media icons positioning, size, and color*/

.social-media {
    width: 100%;
    height: 30px;
    position: absolute;
}

.social-media ul {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}

.social-media ul li {
    position: relative;
    display: inline-block;
    padding: 2px;
}

.social-media i {
    color: #d7263d;
}

.social-media i:hover {
    color: black;
}

.quote h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.quote p {
    font-size: 12px;
    margin-top: 3px;
}
}
@media only screen and (max-width: 610px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
    }
    
    body {
        height: 100vh;
        width: 600px;
        overflow: scroll;
    }
    
    /*Navigation of the Header*/
    
    header nav {
        width: 100%;
        height: 100px;
        position: relative;
        background-color: rgb(255, 254, 254);
    }
    
    /*Size and dimensions of the header*/
    
    .header-page {
        width: 100%;
        height: 100px;
        background-color: rgb(250, 246, 246);
        position: absolute;
        border-bottom: 3px solid #0e0d0d;
    }
    
    /*ISJAI Logo size*/
    
    .header-page img {
        width: 60px;
        height: 60px;
        display: flex;
        position: absolute;
        margin: 15px;
    }
    
    /*Title heading size and text alignment*/
    
    .header-page h3 {
        padding-top: 20px;
        font-size: 23px;
        text-align: center;
        justify-content: center;
        display: flex;
        position: relative;
    }
    
    /*Title paragraph size and text alignment*/
    
    .header-page p {
        font-size: 10px;
        text-align: center;
        justify-content: center;
        display: flex;
        position: relative;
        padding-top: 2px;
    }
    
    /*Navigation Icons Positioning, Color, and Sizes*/
    
    nav .icon ul {
        position: absolute;
        font-size: 30px;
        right: 20px;
        
    }
    
    .icon ul li {
        position: relative;
        display: flex;
        margin-top: 25px;
        padding: 2px;
    }
    
    .icon ul li a {
        color:  #060606;
    }
    
    /*Sectioning (images, and positioning)*/
    
    section .strands {
        position: relative;
        height: 700px;
        background-image: url(/images/book.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    
    /*Specialization tracks cards positioning and color*/
    
    .strand-cards {
        position: relative;
        top: 150px;
        height: 600px;
    }
    
    /*Specialization tracks icons positioning and color*/
    
    .strand-cards ul {
        list-style: none;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 400px;
        background-color: #d7263d;
        border-top: 5px solid #060606;
        border-bottom: 5px solid #060606;
    }
    
    .strand-cards ul li {
        margin: auto;
        font-size: 20px;
        text-align: center;
        color: white;
        margin-bottom: 70px;
    }
    
    .strand-cards ul li h6 {
        font-size: 20px; 
        padding-bottom: 10px;   
    }
    
    .strand-cards ul li a {
        position: relative;
    }
    
    .strand-cards ul li i {
        position: relative;
        font-size: 100px;
        color: white;
    }
    
    .strand-cards ul li label {
        font-size: 10px;
        font-weight: 500;;
    }
    
    /*Specialization tracks hover positioning and color*/
    
    .strand-cards i:hover {
        color: #060606;
    }
    
    /*Footer positioning and size*/
    
    footer {
        width: 100%;
        height: 100px;
        border-top: 3px solid #61111c;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    /*Social media icons positioning, size, and color*/
    
    .social-media {
        width: 100%;
        height: 30px;
        position: absolute;
    }
    
    .social-media ul {
        position: relative;
        text-align: center;
        font-size: 20px;
        margin-top: 5px;
    }
    
    .social-media ul li {
        position: relative;
        display: inline-block;
        padding: 2px;
    }
    
    .social-media i {
        color: #d7263d;
    }
    
    .social-media i:hover {
        color: black;
    }
    
    .quote h3 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 2px;
    }
    
    .quote p {
        font-size: 12px;
        margin-top: 3px;
    }
    }